.center{
    text-align: center;
}

section.principal{
    height: 550px;    
}

.horizontal-center{
    vertical-align: center;
}

section.segundo{
    height: 500px;
}

article.marginCenter{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.maxWidth{
    max-width: 43em;
}

.desarrolloArticulo{
    line-height: 2rem;
    font-size: 1rem;
}

.letras{
     font-family: georgia;
}

.desarrolloArticulo p{
        line-height: 1.7em;
        margin: 1.25em 0;
        text-align: justify;
}

p{
    font-size: 1.5em;
    line-height: 1;
}

.bold{
    font-weight: 550 !important;
    color: black;
}
p:nth-child(1):first-letter {
    font-size: 3.5em;
    line-height: 1em;
}

p + p:first-letter {
    font-size: 1em;
    line-height: 1.25em;
}

img.padresdelapatria{
    width: 30%;
    max-width: 300px;
    float: right;
}

/*Este estilo es para el Scroll magic (cuando se haga scroll se desvanezca)*/
.magic{
    opacity: 1;
    transition: 1.3s;
  }

.magic.show {
    opacity: 0;
    transition: 1.3s;
  }
  
  .red-cube{
  background: red;
  margin: 0 auto;
  display: block;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  transition: .5s;
  width: 0%
}

.red-cube.show{
  opacity: 1;
  width: 100%
}